<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Table Product</h4>
              <p class="card-category"> Here is a subtitle for this table</p>
              <a class="text-light" href="/admin/product/createType">
                <button class="btn btn-sm btn-primary" >
                  Create Product Type
                </button>
            </a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      product type
                    </th>
                    <th class="text-center">
                      potion
                    </th>
 
                  </thead>
                  <tbody>
                    <% data.forEach( (type) => { %>
                    <tr>
                      <td>
                        <%= type.product_type_id %>
                      </td>
                      <td>
                        <%= type.product_type %>
                      </td>
                      <td style="z-index:100 d-flex" class="text-center">
                        <div class="d-flex justify-content-center">
                          <a class="text-light" href="/admin/product/show_product_type/<%= type.product_type_id %>">
                            <button class="btn btn-sm btn-primary">
                              Show Product
                            </button>
                          </a>
                          <form action="/admin/product/deleteProductType/<%= type.product_type_id %>/?_method=DELETE" method="POST"> 
                            <button type="submit" onclick="checkDelete()"  class="btn btn-sm btn-primary">Delete</button>
                        </form>
                          <a class="text-light" href="/admin/product/createProduct/<%= type.product_type_id %>">
                            <button class="btn btn-sm btn-primary">
                              Create Product
                            </button>
                          </a>
                        </div>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <script>
            function checkDelete(req, res){
              alert('You have successfully deleted');
            }
          </script>
        </div>
      </div>
    </div>
  </div>