<div class="content">
    <div>
        <ul class="d-flex ">
            <% data.forEach((type) => {%>
            <li style="line-height:5px; height: 30px;" class="list-group-item btn btn-outline-primary"><a href="" style=" align-items: center;" class="text-decoration-none"><%= type.product_type %></a></li>
            <% }); %>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex ml-5  flex-wrap">
                <% data_.forEach((product) => {%>
                <div class="card ml-3" style="width:260px;" >
                    <img src="/uploads/<%= product.path %>" style="height:310px; width:260px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><b>Product'name : </b> <%= product.product %></h5>
                        <p class="card-text"><b>Price : </b> <%= product.price %></p>
                        <p class="card-text"><b>Color : </b> <%= product.color %></p>
                        <div class="d-flex">
                            <a href="/admin/get_product/<%= product.product_id %>/<%= product.product_slug %>" class="btn btn-primary">GO</a>
                            <form action="/admin/delete_product/<%= product.product_id %>/?_method=DELETE" method="POST"> 
                                <button type="submit"  class="btn btn-primary text-capitalize">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>