<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex ml-5  flex-wrap">
                <% data_.forEach((product) => {%>
                <div class="card ml-3" style="width:260px;" >
                    <img src="/uploads/<%= product.path %>" style="height:310px; width:260px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title"><b>Product'name : </b> <%= product.product %></h5>
                        <p class="card-text"><b>Price : </b> <%= product.price %></p>
                        <p class="card-text"><b>Color : </b> <%= product.color %></p>
                        <div class="d-flex">
                            <a href="/get_product/<%= product.product_id %>" class="btn btn-primary">GO</a>
                            <form action="/delete_product/<%= product.product_id %>/?_method=DELETE" method="POST"> 
                                <button type="submit"  class="btn btn-primary text-capitalize">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>