<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Product</h4>
              <p class="card-category"> Here is a subtitle for this table</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary ">
                    <th>
                      Type Id
                    </th>
                    <th>
                      Type
                    </th>

                    <th>
                      Product's Name
                    </th>
                    <th>
                      Color
                    </th>
                    <th>
                      price
                    </th>
                    <th>
                      Upload
                    </th>
                  </thead>
                  <tbody>
                    <tr>
                      <% products.forEach( (product) => {%>
                      <td>
                        <%= product.product_type_id %>
                      </td>
                      <td>
                        <%= product.product_type %>
                      </td>
                      
                      <td>
                        <%= product.product %>
                      </td>
                      <td>
                        <%= product.color %>
                      </td>
                      <td>
                      <%= product.price %>
                      </td>
                      <td>
                        <form action="/admin/product/upload/<%= product.product_id %>" method="POST" enctype="multipart/form-data">
                          <input type="hidden" value="<%= product.product_id %>" name="product_id">
                          <input class="btn btn-sm btn-primary " type="file" name="img" />
                          <input type="submit" value="Upload" class="btn btn-sm btn-success "/>
                        </form>
                      </td>
                    </tr>
                    <% }); %>
                  </br>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>