<style>
    h4 img {
        max-width: 100%;
        position: relative;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-center" >
                <div class="p-3 ml-3" style="width: 80%; border: 1px solid">
                    <% product_.forEach((product) => {%>
                        <div class="d-flex">
                            <% img.forEach((img) => {%>
                                <img src="/uploads/<%= img.path %>" style="margin-left: 10px; width: 20%; filter: grayscale(100%);">
                             <% }); %>
                            <div class="ml-5">
                                <h4><b style="color:royalblue">product's name</b> : <%= product.product %></h4>
                                <h4><b style="color:royalblue">price</b> : <%= product.price %></h4>
                                <h4><b style="color:royalblue">color</b> : <%= product.color %></h4>
                                <div class="mr-5 d-flex flex-wrap">
                                    <% showTag.forEach((tag) => { %>
                                        <a class="text-decoration-none bg-secondary mr-3 pl-2 pr-2" style="color:white; border-radius: 8px;" href="/admin/product/<%= tag.product_type_id %>/<%= tag.product_type_slug %>"> <%= tag.name %></a>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                        <hr>
                    <h4><b style="color:royalblue">product introduction</b> : <%- product.content %></h4>
                    <% }); %>      
                    <hr>              
                    <div class="card" >
                        <div class="card-header card-header-primary">
                            <h4 class="card-title "> comments </h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            product 
                                        </th>
                                        <th>
                                            content
                                        </th>
                                    </thead>
                                    <tbody>
                                        <% commentProduct.forEach((comment) => { %>
                                        <tr>
                                            <td>
                                                <%= comment.product_id %>
                                            </td>
                                            <td>
                                                <%= comment.product %>
                                            </td>
                                            <td>
                                                <%- comment.content %>
                                            </td>
                                      </tr>
                                      <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>